* {
  font-size: 13px;
  letter-spacing: 0.04px;
}
.carouselFade {
  img {
    object-fit: cover;
    // object-position: bottom;
    // object-position: 100% 38%;
    height: 80vh;
    width: 100%;
  }
  :first-child > img {
    object-position: 50% 45%;
  }
  :nth-child(2) > img {
    object-position: 50% 40%;
  }
}

.card-wrapper > div {
  margin: 0 40px;
}
.card {
  border: none;
  margin: 0 20px;
}
.grid-three-customized {
  > :nth-child(2),
  :nth-child(3) {
    pointer-events: none;
  }
}
